.photo-layover-wrapper {
    display: block;
    position: relative;
}

.photo-layover-info-box {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    color: #fff;
    background: transparent url(opacity.png) repeat scroll left top;
}
.photo-layover-info-box-top {
    top: 0;
}
.photo-layover-info-box-bottom {
    bottom: 0;
}

.photo-layover-wrapper .nohide {
    display: block;
}

.photo-layover-info {
    display: block;
    padding: 0px 20px;
}
